*
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
.header, .footer
    {
        background-color: #1f2937;
    }
.textmain
    {
        font-size: 48px;
        font-weight: bolder;
        color: #f9faf8;
    }
ul, .sectext
    {
        font-size: 18px;
        color: #e5e7eb;
        list-style: none;
    }
a
    {
        text-decoration: none;
        color: #e5e7eb;
    }
.logo, .footer
    {
        font-size: 24px;
        color: #f9faf8;
    }
button, .call
    {
        background-color: #3882f6;
    }
.randinf
    {
        font-size: 36px;
        font-weight: bolder;
        color: #1f2937;
    }
.quote
    {
        background-color: #e5e7eb;
    }
.quotetext
    {
        font-size: 36px;
        font-style: italic;
        color: #1f2937;
    }
footer
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
ul
    {
        display: flex;
        margin: 0;
        padding: 0;
        gap: 10px;
    }
.head
    {
     padding: 8px;
     display: flex;
     justify-content: space-around;
     align-items: center;   
    }
.home
    {
        padding: 56px;
        margin: 56px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
.signup
    {
        padding: 8px;
        width: 100px;
        border: none;
        border-radius: 8px;
        font-weight: bold;
        color: #e5e7eb;
    }
.randinf
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 20px;
    }
.info
    {
        padding: 20px;
        margin: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
.image 
    {
        border: none;
        border-radius: 8px;
        height: 100px;
        width: 100px;
    }
.hell
    {
        max-width: 200px;
    }
.quotecontainer
    {
        padding: 56px;
        margin: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.subtext
    {
        font-weight: bolder;
        display: flex;
        align-self: flex-end;
    }
.button
    {
        padding: 8px;
        border: 2px solid #f9faf8;
        border-radius: 8px;
        width: 100px;
        font-weight: bold;
        color: #f9faf8;
    }
.call  
    {
        margin: 20px 120px;
        border-radius: 8px;
        padding: 40px 60px;
        display: flex;
        justify-content: space-around;
    }
.callmaintext
    {
        color: #f9faf8;
        font-weight: bold;
    }
.callsectext
    {
        color: #f9faf8;
    }