*
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
.header, .footer
    {
        background-color: #1f2937;
    }
.textmain
    {
        font-size: 48px;
        font-weight: bolder;
        color: #f9faf8;
    }
ul, .sectext
    {
        font-size: 18px;
        color: #e5e7eb;
        list-style: none;
    }
a
    {
        text-decoration: none;
        color: #e5e7eb;
    }
.logo, .footer
    {
        font-size: 24px;
        color: #f9faf8;
    }
button, .call
    {
        background-color: #3882f6;
    }
